In [2]:
a = 10

In [3]:
a

10

## Type Casting

In [4]:
a = 'c'

In [6]:
type(a)

str

In [7]:
int

int

In [8]:
int()

0

In [10]:
int('123')

123

In [11]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [12]:
print("Hello World")

Hello World

In [13]:
print(123)

123

In [14]:
print('Hello World')

Hello World

In [15]:
age = 32
print("My age is:",age)

My age is: 32

In [18]:
## f string
print(f"My age is : {age}")

My age is : 32

In [20]:
## format ()
name = "Ronit Agrawal"
age = 21
print("My name is {} and age is {}".format(name,age))

My name is Ronit Agrawal and age is 21

In [21]:
print("My name is {} and age is {}".format(age,name))

My name is 21 and age is Ronit Agrawal

In [22]:
#placeholder
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is Ronit Agrawal and age is 21

In [23]:
name = "Deepak Pandey"
age = 19
degree = "BA"

In [24]:
print("My age is {} and I have completed my degree of {} with the name of {}".format(age,degree,name))

My age is 19 and I have completed my degree of BA with the name of Deepak Pandey

In [25]:
print(f"My age is {age} and I have completed my degree of {degree} with the name of {name}")

My age is 19 and I have completed my degree of BA with the name of Deepak Pandey

## Control Flow
## Decision Making Statements
    * It is kind of making decision during occured situation of program execution and action can be taken according to specified conditions.
    * Structure of decison making evaluate several expressions that provide True or False as a result.
    * It is up to you to decide which type of actio want to take and execute the statements based upon True and False.
    
** These are several topics of decision making which going to be discussed below:**
    1. **if**
    2. **if else**
    3. **if elif else**
    4. **Nestd if**
    5. **Single Statement Suites**

In [26]:
## If Statements
age = 18
if (age>=18):
    print("You are eligible to vote")

You are eligible to vote

In [1]:
## If Statements
age = 17
if (age<18):
    print("You are  not eligible to vote")

You are  not eligible to vote

In [ ]:
==,>=,<=

In [2]:
input()

 Ronit

'Ronit'

In [3]:
name = input("Enter the Name:")

Enter the Name: Ronit

In [4]:
name

'Ronit'

In [5]:
type(name)

str

In [6]:
age = int(input("Enter Your Age:"))

Enter Your Age: 21

In [7]:
age

21

In [8]:
type(age)

int

In [9]:
## Task
## Take a input of age
## check whether age>=18 and age<=45
## display a message you are young blood

In [10]:
age = int(input("Enter Your Age:"))
if (age>=18) and (age<=45):
    print("You are Young Blood.")

Enter Your Age: 21

You are Young Blood.

In [12]:
22>=18 and 22<=45

True

In [13]:
22 <=42

True

In [14]:
age = int(input("Enter Your Age:"))
if (age>=18) and (age<=45):
    print("You are Young Blood.")

Enter Your Age: 55

In [15]:
## if else statements

In [16]:
age = int(input("Enter the Age"))
if (age>=18) and age <=45:
    print("You are Young Blood")
else:
    print("Thank you we will let you know.")

Enter the Age 56

Thank you we will let you know.

In [ ]:
## mall  -  input the product price
## product >1000 rs 20% off
## print the product price
## product <=1000 rs 30% off
## print the product price
## print the product price after removing the discount

In [30]:
product_price = int(input("Enter Product Price:"))
if (product_price >1000):
    product_discount_price = (product_price*20) / 100
    print(f"Discount on Product Price is {product_discount_price}")
    total_product_price = product_price - product_discount_price
    print(f"After Discounting Product Price is {total_product_price}")
   
elif(product_price <1000):
    product_discount_price = (product_price*30) / 100
    print(f"Discount on Product Price is {product_discount_price}")
    total_product_price = product_price - product_discount_price
    print(f"After Discounting Product Price is {total_product_price}")
else:
    print("You are Not Eligible For Discount")

Enter Product Price: 30000

Discount on Product Price is 6000.0
After Discounting Product Price is 24000.0

In [ ]:
## mall  -  input the product price
## product >3000 rs 20% off
## print the product price after removing the discount
## product >=2000 rs and <=3000 rs 30% off
## print the product price after removing the discount
## product <=1000 rs and <=2000 40% off
## print the product price after removing the discount

In [31]:
product_price = int(input("Enter Product Price:"))

if (product_price >3000):
    product_discount_price = (product_price*20) / 100
    print(f"Discount on Product Price is {product_discount_price}")
    total_product_price = product_price - product_discount_price
    print(f"After Discounting Product Price is {total_product_price}")
   
elif (product_price >= 2000) and (product_price <= 3000):
    product_discount_price = (product_price*30) / 100
    print(f"Discount on Product Price is {product_discount_price}")
    total_product_price = product_price - product_discount_price
    print(f"After Discounting Product Price is {total_product_price}")
    
elif (product_price <= 1000) and (product_price <= 2000):
    product_discount_price = (product_price*40) / 100
    print(f"Discount on Product Price is {product_discount_price}")
    total_product_price = product_price - product_discount_price
    print(f"After Discounting Product Price is {total_product_price}")
    
else:
    print("You are Not Eligible For Discount")

Enter Product Price: 4000

Discount on Product Price is 800.0
After Discounting Product Price is 3200.0

In [ ]:
## mall  -  input the product price
## product >3000 rs 20% off
## print the product price after removing the discount
## price is == 4000 you get a trip of goa
## product >=2000 rs and <=3000 rs 30% off
## print the product price after removing the discount
## price == 2999 You will get additional gift
## product <=1000 rs and <=2000 40% off
## print the product price after removing the discount

In [35]:
product_price = int(input("Enter Product Price:"))

if (product_price >3000):
    if(product_price==4000):
        print("Congratulations You will get a trip of Goa.")
    product_discount_price = (product_price*20) / 100
    print(f"Discount on Product Price is {product_discount_price}")
    total_product_price = product_price - product_discount_price
    print(f"After Discounting Product Price is {total_product_price}")
   
elif (product_price >= 2000) and (product_price <= 3000):
    if(product_price == 2999):
        print("Congratulations You Get An Additional Gift.")
    product_discount_price = (product_price*30) / 100
    print(f"Discount on Product Price is {product_discount_price}")
    total_product_price = product_price - product_discount_price
    print(f"After Discounting Product Price is {total_product_price}")
    
elif (product_price <= 1000) and (product_price <= 2000):
    product_discount_price = (product_price*40) / 100
    print(f"Discount on Product Price is {product_discount_price}")
    total_product_price = product_price - product_discount_price
    print(f"After Discounting Product Price is {total_product_price}")
    
    
else:
    print("You are Not Eligible For Discount")

Enter Product Price: 2000

Discount on Product Price is 600.0
After Discounting Product Price is 1400.0

In [34]:
## Single Statement

In [37]:
val = int(input("Enter the number:"))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go To Home")

Enter the number: 1000

Go To Home

## Loops Statement
1. While Loop
2. For Loop
3. Nested Loops
4. Loop Control (break,continue,pass)

In [41]:
## while loop
joining_age = 25
i = 1

while joining_age <= 60:
    joining_age = joining_age + 1
    print(joining_age)
else:
    print("It's time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
It's time for retirement

In [43]:
### ATM Machine with 1000 Rs

total_amount = 1000
while total_amount != 0:
    print(total_amount)
    total_amount = total_amount - 100
else:
    print("Put More Money Bank People")

1000
900
800
700
600
500
400
300
200
100
Put More Money Bank People

## For Loop

In [1]:
lst = ['Krish',1,2,3,4,"apple","banana"]

In [2]:
type(lst)

list

In [3]:
lst[0]

'Krish'

In [4]:
lst[4]

4

In [5]:
lst

['Krish', 1, 2, 3, 4, 'apple', 'banana']

In [6]:
for x in lst:
    print(x)

Krish
1
2
3
4
apple
banana

In [7]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [8]:
for a in fruits_list:
    print(a)

Mango
Cherry
Apple
Papaya
Banana

In [9]:
for a in fruits_list:
    print(a)
    if a== "Cherry":
        print("The Fruit is Cherry")

Mango
Cherry
The Fruit is Cherry
Apple
Papaya
Banana

In [10]:
fruit = 'mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [11]:
fruit[0]

'm'

In [ ]:
### Nested Loops

In [13]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [15]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [19]:
n = 7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******

In [20]:
##Loop Controls
## Break and Continue
fruit_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [22]:
fruit_list = ["Mango","Cherry","Apple","Papaya","Banana"]
for i in fruits_list:
    if i=="Apple":
        print("The Fruit is Apple.")
        break
    print(i)

Mango
Cherry
The Fruit is Apple.

In [23]:
fruit_list = ["Mango","Cherry","Apple","Papaya","Banana"]
for i in fruits_list:
    if i=="Apple":
        print("The Fruit is Apple.")
        pass
    print(i)

Mango
Cherry
The Fruit is Apple.
Apple
Papaya
Banana

In [24]:
fruit_list = ["Mango","Cherry","Apple","Papaya","Banana"]
for i in fruits_list:
    if i=="Apple":
        print("The Fruit is Apple.")
        continue
    print(i)

Mango
Cherry
The Fruit is Apple.
Papaya
Banana